@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Grouch";
  src: url("/font/grouch-bt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.grouch {
  font-family: "Grouch", sans-serif;
}
